<%- include("./partials/header.ejs") %>
	<main class="container" style="display:none">
		<div class="row">
			<div class="col col-md-6 text-center mt-3">
				<a href="/user/login" class="bg-light-purple large-button">
						<i class="fa fa-user"></i>
						<p>Login</p>
				</a>
			</div>
			<div class="col col-md-6 text-center mt-3">
				<a href="/user/register" class="bg-light-purple large-button">
					<i class="fa fa-user-plus"></i>
					<p>Register</p>
				</a>
			</div>
		</div>
	</main>
	<script src="/js/index.js"></script>
<%- include("./partials/footer.ejs") %>
