<%- include("./partials/header.ejs") %>
	<main class="jumbotron text-center">
		<h3 class="text-danger">Please update your browser!</h3>
		<p class="text-secondary">Your browser version is <%= browserVersion %>, to continue use this website update your browser.</p>
	</main>
<%- include("./partials/footer.ejs") %>
