#question-form {
	margin-top: 5%;
	margin-bottom: 5%;
}

#question-form .card-header {
	background-color: #494ca2;
}

#question-form .card-body {
	background-color: #c6cbef;
}


#submit-button {
	background: #494ca2;
	border:none;
}

#submit-button:hover {
	background: #494ca2;
	box-shadow: 0px 4px 5px 2px #cccccc;
}

a.text-dark-purple:hover {
	color: #494ca2;
}