<%- include("../partials/header.ejs") %>
	<main class="container" style="display:none">
		<div class="row">
			<div class="col col-md-6 text-center mt-3">
				<a href="/question/new" class="bg-light-purple large-button">
						<p>New Questions</p>
				</a>
			</div>
			<div class="col col-md-6 text-center mt-3">
				<a href="/question/answered" class="bg-light-purple large-button">
					<p>Answered Question</p>
				</a>
			</div>
		</div>
	</main>
<script src="/js/dashboard.js"></script>
<%- include("../partials/footer.ejs") %>
